$spacing: 18px;
$font-size: 14px;
$radius: 2px;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$primary: #313a86;
$primary-light: #434EB6;

body {
    padding-top: 80px;
    font-weight: 200;
    font-size: $font-size;
}

html, body, .fixed-height {
    height: 100%;
}

main {
    height: calc(100% - 20px)
}

p {
    font-size: $font-size;
}

a:link, a:visited {
    color: $primary-light;
}

a:hover, a:active {
    color: $primary;
}

a.required {
    font-weight: 600;
}

.spinner {
    text-align: center;
}

.page-header {
    h1, h2, h3 {
        .fa {
            color: #555
        }
    }
}

.nav > li.section {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav.nav-pills > li {
    a {
        padding: 5px 10px;
        border-radius: $radius;
    }
}

.nav.nav-pills > li.active {
    a:link, a:hover, a:active, a:visited {
        background-color: $primary-light;
    }
}

// Generic timesince element that displayed relative time
.timesince {
    font-size: 0.9em;
    color: #777;
}

// Text
.text-centered {
    text-align: center;
}

// States
.is-loading {
    color: #777;
    text-align: center;
}

.is-empty {
    color: #777;
}

[class*=col-md-] {
    h1, h2, h3, h4 {
        &:first-child {
            margin-top: 0;
        }
    }
}


header {
    position: fixed;

    // Offset by the Bootstrap gutter width
    top: 15px;
    left: 15px;
    right: 15px;

    z-index: 1000;

    font-weight: 400;

    background-color: #eee;

    border-radius: $radius;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    a:link, a:visited {
        padding: $spacing;
        outline: none;
        color: #555;
        text-decoration: none;
        //vertical-align: middle;
    }

    a:hover, a:active {
        color: $primary-light;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                display: inline-block;
            }
        }
    }

    // Tweak size and padding due to all caps
    a.brand {
        color: $primary-light;
        display: inline-block;
        font-weight: 600;
        padding: 12px 18px;

        img {
            height: 36px;
        }
    }
}

.panel-heading a:hover {
    cursor: pointer;
}

.panel-heading a:after, 
.panel-heading span:after {
    font-family: FontAwesome;
    font-weight: 400;
    /* fa-chevron-down */
    content: '\f078';
    float: right;
    color: #555;
}
.panel-heading a.collapsed:after, 
.panel-heading span.collapsed:after {
    /* fa-chevron-right */
    content:'\f054';
    color: $primary-light;
}

// make the entite block with table title clickable, not just the link itself
.panel-title > a {
    display: block;
    text-decoration: none;
}

// highlight active table and field name 
.panel-default > .active {
    background-color: $primary-light;
}
.panel-default > .active a {
    color: #fff;
}
.panel-default > .active a:after {
    color: #fff;
}

.paragraph {
    padding: 20px;
}

.title-link > a {
    text-decoration: none;
}

.scrollable {
    overflow-y: auto;
}

.table .data {
    margin-bottom: 10px;
}

.table-field-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.external-link:hover {
    cursor: pointer;
}


.external-link:after {
    font-family: FontAwesome;
    /* fa-external-link */
    content: '  \f08e';
}

.table-field:after {
    content: attr(data-type);
    float: right;
    font-weight: 200;
    font-size: 12px;
}

.panel-default > .data-model-heading {
    background-color: #fff 
}

.panel-default > .active {
    background-color: $primary-light
}

.model-version-list {
    margin: 0;
    margin-top: 5px;
}

.nav.nav-pills > li > .model-version-link {
    padding-left: 25px;
}

.dqa a {
    color: $primary-light;
    text-decoration: none;
    cursor: pointer;
}

#dqaContainer > .fixedDataTableLayout_main {
    border-width: 0;    
}

.col-md-offset-05 {
    margin-left: 4.166666665%;
}