$spacing: 40px;
$font-size: 16px;
$radius: 2px;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$primary: #313a86;
$primary-light: #434EB6;

body {
    padding-top: 50px;
    font-weight: 200;
    font-size: $font-size;
}

p {
    font-size: $font-size;
}

a:link, a:visited {
    color: $primary-light;
}

a:hover, a:active {
    color: $primary;
}

a.required {
    font-weight: 600;
}

.spinner {
    text-align: center;
}

.page-header {
    h1, h2, h3 {
        .fa {
            color: #555
        }
    }
}

.nav > li.section {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav.nav-pills > li {
    a {
        padding: 5px 10px;
        border-radius: $radius;
    }
}

.nav.nav-pills > li.active {
    a:link, a:hover, a:active, a:visited {
        background-color: $primary-light;
    }
}

// Generic timesince element that displayed relative time
.timesince {
    font-size: 0.9em;
    color: #777;
}

// Text
.text-centered {
    text-align: center;
}

// States
.is-loading {
    color: #777;
    text-align: center;
}

.is-empty {
    color: #777;
}

[class*=col-md-] {
    h1, h2, h3, h4 {
        &:first-child {
            margin-top: 0;
        }
    }
}


header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;

    font-weight: 400;

    background-color: #f5f5f5;

    border-radius: $radius;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;

    .header-row {
        padding: 10px $spacing;

    }

    .btn-primary {
        padding: 10px 20px;
        margin: 0;
        margin-right: 5px;
        color: $primary-light;
        background-color: #eee;
        border-color: #eee;
        text-decoration: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .btn-primary:focus,
    .btn-primary:hover {
        background-color: $primary-light;
        color: #fff;
    }

    .btn-primary:active,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active,
    .btn-primary.active:focus,
    .btn-primary.active:hover {
        background-color: #eee;
        color: $primary-light;
        border-color: $primary-light;
    }

    #search {
        text-decoration: none;
    }

    #path span {
        color: $primary-light;
        padding: 0 3px 0 3px;
    }

    #path>a:link, .path>a:visited {
        padding: 0;
        color: $primary-light;
        text-decoration: none;
    }

    #path>a:hover, .path>a:active {
        text-decoration: underline;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                display: inline-block;
            }
        }
    }

    // Tweak size and padding due to all caps
    a.brand {
        color: $primary-light;
        display: inline-block;
        font-weight: 400;
        font-size: 20px;
        outline: none;
        text-decoration: none;
        img {
            height: 36px;
            //vertical-align: text-bottom;
        }
    }
}

.panel-heading a:hover {
    cursor: pointer;
}

.panel-heading a:after, 
.panel-heading span:after {
    font-family: FontAwesome;
    font-weight: 400;
    /* fa-chevron-down */
    content: '\f078';
    float: right;
    color: #555;
}
.panel-heading a.collapsed:after, 
.panel-heading span.collapsed:after {
    /* fa-chevron-right */
    content:'\f054';
    color: $primary-light;
}

// make the entite block with table title clickable, not just the link itself
.panel-title > a {
    display: block;
    text-decoration: none;
}

// highlight active table and field name 
.panel-default > .active {
    background-color: $primary-light;
}
.panel-default > .active a {
    color: #fff;
}
.panel-default > .active a:after {
    color: #fff;
}

.paragraph {
    padding: 20px;
}

.title-link > a {
    text-decoration: none;
}

.table .data {
    margin-bottom: 10px;
}

.table-field-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.external-link:hover {
    cursor: pointer;
}


.external-link:after {
    font-family: FontAwesome;
    /* fa-external-link */
    content: '  \f08e';
}

.table-field:after {
    content: attr(data-type);
    float: right;
    font-weight: 200;
    font-size: 12px;
}

.panel-default > .data-model-heading {
    background-color: #fff 
}

.panel-default > .active {
    background-color: $primary-light
}

.model-version-list {
    margin: 0;
    margin-top: 5px;
}

.nav.nav-pills > li > .model-version-link {
    padding-left: 25px;
}

.dqa a {
    color: $primary-light;
    text-decoration: none;
    cursor: pointer;
}

#dqaContainer > .fixedDataTableLayout_main {
    border-width: 0;    
}

.col-md-offset-05 {
    margin-left: 4.166666665%;
}

.margined {
    margin: 20px;
}

.text-box {
    border: 1px solid #ddd;
    overflowX: auto;
}

.bar {
    height: 10px;
    display: inline-block;
    position: relative;
    vertical-align: baseline;
    border-radius: $radius;
    border: 1px solid $primary-light;
    margin-left: 5px;
    margin-right: 5px;
}

.number {
    width: 25px;
    display: inline-block;
    position: relative;
    transform: translateY(20%);
    overflow: hidden;
}

.badge {
    margin-left: 5px;
    transform: translateY(-15%);
}

.sort-arrow {
    float: right;
    margin-right: 10px;
    transform: translateY(20%);
}

.title i {
    color: $primary-light;
    font-weight: 400;
}

.title {
    font-weight: 400;
}